/*============ Session ==========*/
.session-wrapper {
  position: relative;
  height: 100%;
  .session-left {
    background-image: url("/static/img/login.jpg");
    background-size: auto auto;
    background-size: cover;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    .slick-slider {
      width: 31.25rem; //500px
      .slick-dots {
        li {
          &.slick-active {
            color: $light;
          }
          button:before {
            color: $light;
          }
        }
      }
    }
  }
  .session-right {
    margin-left: 31.25rem; //500px;
    .session-table-cell {
      padding-top: 5rem; //80px;
      .session-content {
        max-width: 31.25rem; //500px;
        margin: 0 auto;
      }
    }
  }
}
.slider-content {
  img {
    @include border(4px solid, $light, top bottom left right);
    display: inline-block !important;
  }
  p {
    font-weight: 600;
    font-size: 1.125rem; //18px;
    line-height: 1.6;
  }
}
.slider-content, .session-social-links  {
  * {
    color: $light;
  }
}
.session-social-links {
  ul {
    li {
		margin-bottom: 1.25rem; //20px;
		margin-right: 0.875rem;
		display:inline-block;
		&:last-child{
			margin-right: 0;
		}
    }
  }
  .session-icon {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
  }
}
.bg-sc {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 4rem 1rem;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}
.lock-screen-wrapper {
  background-image: url("/static/img/lock-bg.png");
  @extend .bg-sc;
}
.lock-screen-block {
	.v-form .theme--light.v-label{
		color: $light !important;
	}
	.v-text-field > .v-input__control > .v-input__slot{
		&:before,&:after{
			border-color:$light;
		}
	}
}
// Pricing 2 
.pricing-wrapper {
  .app-card-content {
    h2 {
      @include border(1px solid, $gray-lighter, bottom);
      padding: 1.25rem;
    }
  }
}
.list-group-flush {
  .list-group-item, li {
    @include border(1px solid, $gray-lighter, bottom);
    padding: 0.9375rem 0; //15px 0;
    &:last-child {
      border: none;
    }
  }
}

// sign up 2
.session-banner {
  background-image: url("/static/img/login-signup2.png");
  @extend .bg-sc;
}
.session-block {
  background-color: $light;
  padding: 3.125rem; //50px;
  border-radius: 10px;
  box-shadow: 0 12px 34px 0 rgba(0,0,0,0.5);
  .log-link {
    a {
      text-decoration: none;
      color: $gray-light;
      &:hover {
        color: $primary;
      }
    }
  }
}
.block-center {
  transform: translate3d(0%, 50%, 0);
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/images/vendor/slick-carousel/slick/ajax-loader.gif?c5cd7f5300576ab4c88202b42f6ded62) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/fonts/vendor/slick-carousel/slick/slick.eot?ced611daf7709cc778da928fec876475);
    src: url(/fonts/vendor/slick-carousel/slick/slick.eot?ced611daf7709cc778da928fec876475?#iefix) format('embedded-opentype'), url(/fonts/vendor/slick-carousel/slick/slick.woff?b7c9e1e479de3b53f1e4e30ebac2403a) format('woff'), url(/fonts/vendor/slick-carousel/slick/slick.ttf?d41f55a78e6f49a5512878df1737e58a) format('truetype'), url(/fonts/vendor/slick-carousel/slick/slick.svg?f97e3bbf73254b0112091d0192f17aec#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


// Responsive 
@media (max-width: 1200px) {
  .session-wrapper {
    .session-left {
      .slick-slider {
        width: 25rem; //400px;
      }
    }
    .session-right {
      margin-left: 25rem; //400px;
    }
  }
}
@media (max-width: 1000px) {
  .session-wrapper {
    .session-right {
      .session-content {
        max-width: 18.75rem !important; //300px;
      }
    }
  }
}
@media (max-width: 800px) {
  .session-wrapper {
    .session-left {
      display: none;
    }
    .session-right {
      margin-left: 0;
      .session-table-cell {
        padding: 1.875rem 1.875rem 0; //30px
      }
      .session-content {
        max-width: 27.5rem !important; //440px;
      }
    }
  }
}